@charset "utf-8";
/* CSS Document */

.login-form {
}

.login-form  .input-holder {
	
}

.login-form  .input-holder > input[type='text'] {
	background-color: #6ba3c8;
	border: 1px solid #6ba3c8;
	height: 43px;
	color: #d9ecf9;
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.login-form  .input-holder > input[type='text']:focus {
	border: 1px solid #83b8db;
}

.login-form  .input-holder > input[type='text']::-moz-placeholder {
	color: #d9ecf9;
  	opacity: 1;
}

.login-form  .input-holder > input[type='text']:-ms-input-placeholder {
	color: #d9ecf9;
  	opacity: 1;
}

.login-form  .input-holder > input[type='text']::-webkit-input-placeholder {
	color: #d9ecf9;
}
